# Игнорировать временные файлы и каталоги
*.log
*.tmp
*.swp
*.bak

# Игнорировать системные файлы и каталоги
.DS_Store
Thumbs.db
*.pyc
*.pyo

# Игнорировать каталоги пользователя
AppData/
Local/
Recent/
Cookies/
